.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 640px;
  width: 80%;
}

.nav {
  margin: 50px auto 30px;
  padding: 0 50px;
  max-width: 640px;
  width: 80%;

  &-container {
    width: 100%;
    margin: 0;
    position: relative;
    text-align: left;
  }

  &-title {
    color: $default-color;
    display: inline-block;
    margin: 8px 0 0 8px;
    width: 30px;
    height: 30px;
    background-image: url(img/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    &:hover,
    &:focus {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.8;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    bottom: 0;
    position: absolute;
    right: 0;
  }

  li {
    color: $default-color;
    display: inline-block;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.8;
    }
  }

  a {
    color: $default-color;
    font-family: $sans-serif;
  }
}

@media (max-width: 600px) {
  .nav {
    width: 100%;
    padding: 0 26px;
    margin: 30px 0 30px;
    box-sizing: border-box;
    ul{
      margin-right: 8px; 
    }
  }
  main{
    width: 100%;
  }
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}
