.pagination {
  padding: 50px;
  text-align: center;
  span {
    color: $default-shade;
    font-size: 1.1rem;
  }

  .top {
    @include transition(all .3s ease-out);
    color: $default-color;
    font-family: $sans-serif;
    font-size: 1.1rem;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    color: $default-color;
    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left, .right {
    text-align: left;
    display: inline-block;
    padding: 30px;
    background-color: $bg-hover;
    margin-bottom: 10px;
      .arrow-icon{
        font-family: $open-arrow;
      }
  }
  .long{
    display: block;
  }
}
@media (max-width: 600px) {
  .pagination {
    padding: 30px 20px 50px;
  } 
}