---
layout: default
---

<div class="post">
  <div class="post-info">
    {% if page.date %}
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>

  {{ content }}
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow long"><span class="arrow-icon">&#x2191;</span> {{ page.next.title | prepend: site.baseurl }}</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow long"><span class="arrow-icon">&#x2193;</span> {{ page.previous.title | prepend: site.baseurl }}</a>
  {% endif %}

  <!--<a href="#" class="top">Top</a>-->
</div>